<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Ayudas para Personas con Discapacidad</title>
</head>
<body>
	
	<h1> Descubre las Ayudas para Personas con Discapacidad</h1>
	
	<a href="https://www.bonosocial.gob.es/#quees" Target="_blank"><img src="../../../assets/bono_social1.png" alt="Bono social"></a>
			
	
	
	<p id="Texto">En <b>Adapta-Tech</b>, te ofrecemos información detallada sobre las valiosas ayudas disponibles para personas con discapacidad visual, física, auditiva y cognitiva en el gobierno español. Estas medidas están diseñadas para mejorar la calidad de vida y fomentar la inclusión. Algunas de las ayudas destacadas son:

        Beneficios Fiscales: Exenciones y deducciones para aliviar la carga financiera.
        Tarjetas Especiales de Transporte: Facilitan la movilidad en el transporte público.
        Empleo Público y Privado: Programas de inclusión laboral y apoyo en el ámbito laboral.
        Prestaciones Económicas: Ayudas económicas para garantizar un nivel de vida adecuado.
        Ayudas para la Movilidad: Subvenciones para la adaptación de vehículos y facilidades de transporte.
        Ayudas para la Comunicación: Dispositivos y tecnologías que mejoran la comunicación.
        Ayudas para la Visión y Cognición: Equipos como lupas, audífonos, agendas y otros recursos esenciales.
        Además, se brindan:
        
        Subvenciones para Adaptación de Viviendas y Vehículos: Para hacer tu entorno más accesible.
        Garantía de Ingresos Mínimos: Asegurando un sustento económico adecuado.
        Ayuda de Tercera Persona: Asistencia para tareas cotidianas.
        Compensación por Gastos de Transporte: Facilitando la movilidad diaria.
        Estas ayudas abarcan una amplia gama de necesidades, desde exenciones fiscales hasta sillas de ruedas y dispositivos especializados. Para información detallada sobre ayudas específicas, te invitamos a explorar nuestras secciones especializadas. </p>
	<div class="container">
		<div class="image-container">
			<a href="https://www.bonosocial.gob.es/#quees" Target="_blank"><img src="../../../assets/bono_social1.png" alt="Bono social"></a>
			<p>Bono Social</p>
		</div>
		<div class="image-container">
			<a href="url_de_la_pagina_2"><img src="ruta_de_la_imagen_2" alt="descripción_de_la_imagen_2"></a>
			<p>Texto de la imagen 2</p>
		</div>
		<div class="image-container">
			<a href="url_de_la_pagina_3"><img src="ruta_de_la_imagen_3" alt="descripción_de_la_imagen_3"></a>
			<p>Texto de la imagen 3</p>
		</div>
	</div>
	<p>Texto después de las imágenes</p>
	<div class="button-container">
		<button>Ver más</button>
	</div>
	<p id="Texto">Esta página web es accesible para personas con discapacidad visual, física, auditiva y cognitiva.</p>
    <p id="Texto">Si necesitas ayuda adicional para acceder a la información de esta página, por favor contáctanos.</p>
    <br><br><br><br><br>
	<footer>
		
	</footer>
</body>
</html>
