<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Ayudas para Personas con Discapacidad</title>

</head>
<body>
	
	<h1> Descubre las Ayudas para Personas con Discapacidad</h1>
	
	<p id="Texto">En <b>Adapta-Tech</b>, te ofrecemos información detallada sobre las valiosas ayudas disponibles para personas con discapacidad visual, física, auditiva y cognitiva en el gobierno español. Estas medidas están diseñadas para mejorar la calidad de vida y fomentar la inclusión. Algunas de las ayudas destacadas son:</p>

	<p><u>Beneficios Fiscales</u> Exenciones y deducciones para aliviar la carga financiera.</p>
        <p><u>Tarjetas Especiales de Transporte</u>: Facilitan la movilidad en el transporte público.</p>
        <p><u>Empleo Público y Privado</u>: Programas de inclusión laboral y apoyo en el ámbito laboral.</p>
        <p><u>Prestaciones Económicas</u>: Ayudas económicas para garantizar un nivel de vida adecuado.</p>
		<p><u>Ayudas para la Movilidad</u>: Subvenciones para la adaptación de vehículos y facilidades de transporte.</p>
		<p><u>Ayudas para la Comunicación</u>: Dispositivos y tecnologías que mejoran la comunicación.</p>
       <p> <u>Ayudas para la Visión y Cognición</u>:</p><p> Equipos como lupas, audífonos, agendas y otros recursos esenciales.</p>
       <p> Además, se brindan:</p>
        
        <p><u>Subvenciones para Adaptación de Viviendas y Vehículos</u>: Para hacer tu entorno más accesible.</p>
        <p><u>Garantía de Ingresos Mínimos</u>: Asegurando un sustento económico adecuado.</p>
       <p><u>Ayuda de Tercera Persona</u>: Asistencia para tareas cotidianas.</p>
       <p><u>Compensación por Gastos de Transporte</u>: Facilitando la movilidad diaria.</p>
        <p>Estas ayudas abarcan una amplia gama de necesidades, desde exenciones fiscales hasta sillas de ruedas y dispositivos especializados. Para información detallada sobre ayudas específicas, te invitamos a explorar nuestras secciones especializadas. </p>
		<div class="container">
			<div class="image-container">
				<img src="../../../assets/bono_social1.png" alt=" Logo de Bono social">
				<p>Bono Social</p>
				<div class="button-container">
					<a href="enlace_externo_1" target="_blank"><button>Ver más</button></a>
				</div>
			</div>
			<div class="image-container">
				<img src="../../../assets/junta.png" alt="Logo Junta de Andalucia">
				<p>Ayudas y prestaciones</p>
				<div class="button-container">
					<a href="https://www.juntadeandalucia.es/temas/familias-igualdad/discapacidad/prestaciones.html#toc-subvenciones-para-la-inclusi-n-de-la-juventud-con-discapacidad" target="_blank"><button>Ver más</button></a>
				</div>
			</div>
			<div class="image-container">
				<img src="../../../assets/once.png" alt="Logo de la Fundacion Once">
				<p>Proyectos y solicitudes de ayuda</p>
				<div class="button-container">
					<a href="https://www.fundaciononce.es/es/que-hacemos/proyectos-y-solicitudes-de-ayuda" target="_blank"><button>Ver más</button></a>
				</div>
			</div>
		</div>
		
	
	<p id="Texto">Esta página web es accesible para personas con discapacidad visual, física, auditiva y cognitiva.</p>
    <p id="Texto">Si necesitas ayuda adicional para acceder a la información de esta página, por favor contáctanos.</p>
    <br><br><br><br><br>
	<footer>
		
	</footer>
</body>
</html>
