
body {
    margin:2rem 3rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.image-container img {
    max-width: 100%;
    height: auto;
}
.image-container p {
    margin-top: 10px;
    text-align: center;
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.button-container button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}