* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-image: url(../src/assets/cieloazul2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-color: beige; */
    font-family: Roboto, "Helvetica Neue", sans-serif; 
  }
  .contraste {
    background-color: #fff;
    color: #000;
  }
