* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
  }

  /* body {
    background-image: url(./assets/fondoapp.avif);
    background-position: center;
    background-size: cover;
  } */