body {
  background-color: beige;
  position:sticky;
  display: block;
}

table {
  margin: auto;
  background-color: #2667c9dc;
  width: 300px;
  height: 400px;
  text-align: center;
  border-radius: 20px;
  padding: 50px;
  box-shadow: -2px 2px 5px 2px black;
  
}

#calculator {
  position: fixed;
  max-width: 60%;
  left: 58%;
  top: 10%;
}
h1{
  color:white;
  font-size: 25px;
  margin-top: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

input {
  outline: 0;
  position: relative;
  left: 5px;
  top: 5px;
  border: 0;
  color: #495069;
  background-color: beige;
  border-radius: 4px;
  width: 60px;
  height: 50px;
  float: left;
  margin: 5px;
  margin-bottom: 20px;
 
  font-size: 20px;
  box-shadow: 0 4px rgba(0,0,0,0.2);
}

input {
  border: 0 solid #000;
  color: #495069;
  background-color: #3ff707;
  border-radius: 4px;
  width: 60px;
  height: 50px;
  float: left;
  margin: 5px;
  margin-bottom: 20px;
  
  font-size: 20px;
  box-shadow: 0 4px #644294;
}

input:active {
  top: 4px;
  border: 0 solid #000;
  color: #495069;
  background-color: #5bd635;
  border-radius: 4px;
  width: 60px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
  box-shadow: none;
}

#answer {
  width: 270px;
  font-size: 26px;
  text-align: center;
  background-color: #f7f2f2;
  float: left;
}

#answer:hover {
  width: 270px;
  font-size: 26px;
  text-align: center;
  background-color: #F1FAEB;
  box-shadow: 0 4px rgba(0,0,0,0.2);
}

#answer:active {
  top: 5px;
  width: 270px;
  font-size: 26px;
  text-align: center;
  background-color: #F1FAEB;
  box-shadow: 0 4px rgba(0,0,0,0.2);
}

.operator {
  background-color: #f1ff92;
  position: relative;
}

.operator:hover {
  background-color: #E7F56B;
  box-shadow: 0 4px #B7C259;
}

.operator:active {
  top: 4px;
  box-shadow: none;
}

#clear {
  float: left;
  position: relative;
  display: block;
  background-color: #fd071f;
  margin-bottom: 15px;
  color: white;
}

#clear:hover {
  float: left;
  display: block;
  background-color: #F297A0;
  margin-bottom: 15px;
  box-shadow: 0 4px #CC7F86;
  color: black;
}


#clear:active {
  float: left;
  top: 4px;
  display: block;
  background-color: #F297A0;
  margin-bottom: 15px;
  box-shadow: none;
}
