mat-sidenav-container{
    background-color: transparent;
    position: relative;
}

mat-nav-list {
    width: 200px;
}

button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 20px;
}
.icon-img {
    width: 100%; 
    height: 100%; 
    border-radius: 50%;
    object-fit: cover;
  }