<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="false">
      <mat-nav-list>
        <a mat-list-item href="#">Contraste</a>
        <a mat-list-item href="#">Aumentar Texto</a>
        <a mat-list-item href="#">Disminuir Texto</a>
        <a mat-list-item href="#">Subrayado</a>
        <a mat-list-item href="#">Opcion 5</a>
        <a mat-list-item href="#">Opcion 6</a>
      </mat-nav-list>
    </mat-sidenav>
    <div class="blob"></div>
  
    <mat-sidenav-content>
      <button mat-icon-button (click)="sidenav.toggle()">
        <img src="../../assets/logo/di.png" alt="icono" class="icon-img">
      </button>
    </mat-sidenav-content>
  </mat-sidenav-container>
