<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="false">
      <mat-nav-list>
        <a mat-list-item href="#">Opción 1</a>
        <a mat-list-item href="#">Opción 2</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <button mat-icon-button (click)="sidenav.toggle()">
        <img src="https://cdn.icon-icons.com/icons2/91/PNG/512/accessibility_16440.png" alt="icono" class="icon-img">
      </button>
    </mat-sidenav-content>
  </mat-sidenav-container>
