<body>  
    <div class="cuadro">
      <h1> PROYECTO FINAL GRUPO 3 </h1>
      <h2> ADAPTA - TECH</h2> 
    </div>
    <div class="form">
      <p class="texto">En <strong>Adapta-Tech</strong>, nuestra misión es crear un espacio inclusivo y accesible para personas con discapacidad, donde la conectividad en línea se convierte en una puerta abierta a un mundo de posibilidades. Nos esforzamos por facilitar el acceso a recursos valiosos y fomentar la interacción significativa a través de nuestra plataforma.</p>
      <ul class="lista">               
        <li class="l1"><span>Conexión Directa a Contenidos Relevantes: </span>Proporcionamos enlaces cuidadosamente seleccionados a páginas web y recursos en línea específicamente destinados a personas con discapacidad. Nuestra plataforma actúa como un hub central, eliminando barreras y facilitando el acceso a información crucial.</li>
        <li class="l2"><span>Foro de Discusión y Consultas: </span>Creamos un espacio virtual donde la comunidad puede compartir experiencias, hacer preguntas y encontrar apoyo mutuo. El foro de discusión es un lugar acogedor para intercambiar ideas, consejos y soluciones, fortaleciendo así los lazos entre los miembros de nuestra comunidad.</li>
        <li class="l3"><span>Testimonios Inspiradores: </span>Creemos en el poder de las experiencias personales para inspirar y motivar. En nuestro apartado de testimonios, las personas tienen la oportunidad de compartir sus historias, triunfos y desafíos. Esta sección destaca la diversidad de experiencias y proporciona un espacio para la empatía y la comprensión.</li>        
      </ul>
      <p class="texto"> Únete a Nuestra Comunidad:</p>
      <ul class="lista">
        <li class="l4"><span><strong>Adapta-Tech</strong></span> es más que una plataforma en línea; es una comunidad en constante crecimiento. Todos son bienvenidos, independientemente de su capacidad, y esperamos que encuentres en nuestro espacio un lugar donde la conexión y el apoyo mutuo florezcan.</li>
        <li class="l5"><span> Descubre, comparte y únete a <strong>Adapta-Tech</strong> hoy. Juntos, creamos un mundo más conectado e inclusivo.</span></li>
      </ul> 
    </div>
  
</body>