

h1, h2 {
    color: white;
    text-align: center;
    font-size: 50px;
    text-shadow: -1px -1px 0 rgb(60, 63, 63), 1px -1px 0 rgb(24, 23, 24), 1px 1px rgb(8, 8, 8), -1px 1px 0 rgb(81, 85, 85);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
p, ul{
    list-style: none;
    color: black;
    text-align: center;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}