* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

p:hover, .l1:hover, .l2:hover, .l3:hover, .l4:hover,.l5:hover{
  color: blue;
}
.lista li:hover span {
  color: black;
}

.cuadro {
  border-radius: 2rem;
  padding: 20px;
  border: 4px solid #353535;
  background-color: #3586ff;
  box-shadow: 0px 7px 30px -5px rgba(0,0,0,1);
  transition: transform 0.3s ease-in-out;
  display: block;
}

h1, h2 {
    color: white;
    text-align: center;
    font-size: 50px;
    text-shadow: -1px -1px 0 rgb(60, 63, 63), 1px -1px 0 rgb(24, 23, 24), 1px 1px rgb(8, 8, 8), -1px 1px 0 rgb(81, 85, 85);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
h1 {
  margin-bottom: 50px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  margin: 30px 0;
}

.form {
  margin-bottom: 20px;
  padding: 20px;
}
a {
  color: white;
  text-decoration: none;
}
.contacto {
  color: blue;
}

.texto {
  font-size: 18px;
  font-weight: bold;
  text-align: justify;
}

.lista {
  font-weight: normal;
  line-height: 30px;
  text-align: justify;
  list-style: circle;
}

strong {
  color: blue;
}

span {
  font-weight: 750;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
  margin-top: 10px;
  font-weight: 600;
}
  