@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

main {
    width: 95%;
    max-width: 95%;
    text-align: center;
    /* background-image: url(../../../assets/acc3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    padding: 20px;
    margin: auto;
    margin-top: 40px;
}
main h1 {
    font-size: 60px;
    padding-top: 50px;
    color: white;
    position: static;
}

.capaNegra {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
}

.p1 {
    color: rgb(243, 238, 238);
    margin: auto;
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    position: static;
    font-weight: 300;
}

.contenedorTestimonio {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.testimonio {
    width: 340px;
    margin: 20px;
    margin-top: 80px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 40px 5px black ;
    padding: 20px;
    text-align: center;
}

.fotoPerfil1,
.fotoPerfil2,
.fotoPerfil3,
.fotoPerfil4,
.fotoPerfil5,
.fotoPerfil6 {
    width: 200px;
    height: 200px;
    background-position: center -10px;
    background-size: cover;
    margin: auto;
    margin-top: -130px;
    border-radius: 100%;
    top: -80px;
    box-shadow: 0 0 30px -6px black;
}

.fotoPerfil1 {
    background-image: url(../../../assets/Fernan.webp);
    background-size: 280px;
    background-position: center -25px;
}

.fotoPerfil2 {
    background-image: url(../../../assets/migue.webp);
    background-size: 240px;
    background-position: center -10px;
}

.fotoPerfil3 {
    background-image: url(../../../assets/rafa.jpg);
}
.fotoPerfil4 {
    background-image: url(../../../assets/Eloy.webp);
    background-size: 240px;
    background-position: center -10px;
}
.fotoPerfil5 {
    background-image: url(../../../assets/Patxhi.jpg);
}
.fotoPerfil6 {
    background-image: url(../../../assets/J-L.jpg);
}
.testimonio h2 {
    margin-top: 30px;
}

.testimonio h4 {
    margin-top: 10px;
}

.testimonio p {
    margin-top: 10px;
}

.contenedorRedes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.contenedorRedes label {
    font-size: 40px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.fa-facebook {
    color: blue;
}

.fa-google-plus {
    color: red;
}

.fa-square-twitter {
    color: rgb(11, 158, 237);
}
.botonera {
  display: flex;
  justify-content: center;
  gap: 10px;  
    
  }
  button {
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: .5rem;
    background-image: linear-gradient(90deg, rgba(32, 103, 154, 1) 0%, rgba(32, 103, 154, 1) 35%, rgba(0, 212, 255, 1) 100%);
    width: 100%;
    border: 5px outset rgb(22, 132, 223);
    border-radius: 1rem;
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: -1px -1px 0 rgb(12, 28, 211),
      1px -1px 0 rgb(14, 47, 210),
      1px 1px 0 rgb(7, 20, 163),
      -1px 1px 0 rgb(115, 18, 235);
  }
  
  button:hover {
    border: 5px outset rgb(13, 81, 137);
    border-right-color: rgb(54, 190, 240);
    border-top-color: rgb(51, 137, 208);
    border-left-color: rgb(33, 83, 185);
    box-shadow: 0 1px 10px 2px black;
  }