<body>
    <main>
        <div class="capaNegra">
        <h1>Testimonios</h1>
        <p class="p1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum voluptatibus delectus, consequatur cupiditate consequuntur optio officiis a accusantium natus quaerat! Labore tempora ea iusto suscipit inventore, explicabo voluptas cum. Ab.</p>
        <div class="contenedorTestimonio">
            <!-- /* 1 */ -->
            <div class="testimonio">
                <div class="fotoPerfil1"></div>
                <h2>Fernando Fernández <br> Perales</h2>
                <h4>Jugador e-sports profesional</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus molestiae iusto delectus nesciunt, odit illo magnam excepturi possimus perferendis totam veniam eveniet voluptatem, dolore repellat.</p>
                <div class="contenedorRedes">
                    <label class="fa-brands fa-facebook" id="face"></label>
                    <label class="fa-brands fa-google-plus"></label>
                    <label class="fa-brands fa-square-twitter" id="twi"></label>
                    
                </div>
            </div>
            <!-- /* 2 */ -->
            <div class="testimonio">
                <div class="fotoPerfil2"></div>
                <h2>Miguel Ángel Toboso <br> Fernández</h2>
                <h4>Diseñador Css</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus molestiae iusto delectus nesciunt, odit illo magnam excepturi possimus perferendis totam veniam eveniet voluptatem, dolore repellat.</p>
                <div class="contenedorRedes">
                    <label class="fa-brands fa-facebook" id="face"></label>
                    <label class="fa-brands fa-google-plus"></label>
                    <label class="fa-brands fa-square-twitter" id="twi"></label>
                </div>
            </div>
            <!-- /* 3 */ -->
            <div class="testimonio">
                <div class="fotoPerfil3"></div>
                <h2>Rafael Travado <br> Fernández</h2>
                <h4>Pro back</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus molestiae iusto delectus nesciunt, odit illo magnam excepturi possimus perferendis totam veniam eveniet voluptatem, dolore repellat.</p>
                <div class="contenedorRedes">
                    <label class="fa-brands fa-facebook" id="face"></label>
                    <label class="fa-brands fa-google-plus"></label>
                    <label class="fa-brands fa-square-twitter" id="twi"></label>
                </div>
            </div>
            <div class="testimonio">
                <div class="fotoPerfil3"></div>
                <h2>Rafael Travado <br> Fernández</h2>
                <h4>Pro back</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus molestiae iusto delectus nesciunt, odit illo magnam excepturi possimus perferendis totam veniam eveniet voluptatem, dolore repellat.</p>
                <div class="contenedorRedes">
                    <label class="fa-brands fa-facebook" id="face"></label>
                    <label class="fa-brands fa-google-plus"></label>
                    <label class="fa-brands fa-square-twitter" id="twi"></label>
                </div>
            </div>
            <div class="testimonio">
                <div class="fotoPerfil3"></div>
                <h2>Rafael Travado <br> Fernández</h2>
                <h4>Pro back</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus molestiae iusto delectus nesciunt, odit illo magnam excepturi possimus perferendis totam veniam eveniet voluptatem, dolore repellat.</p>
                <div class="contenedorRedes">
                    <label class="fa-brands fa-facebook" id="face"></label>
                    <label class="fa-brands fa-google-plus"></label>
                    <label class="fa-brands fa-square-twitter" id="twi"></label>
                </div>
            </div>
            <div class="testimonio">
                <div class="fotoPerfil3"></div>
                <h2>Rafael Travado <br> Fernández</h2>
                <h4>Pro back</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus molestiae iusto delectus nesciunt, odit illo magnam excepturi possimus perferendis totam veniam eveniet voluptatem, dolore repellat.</p>
                <div class="contenedorRedes">
                    <label class="fa-brands fa-facebook" id="face"></label>
                    <label class="fa-brands fa-google-plus"></label>
                    <label class="fa-brands fa-square-twitter" id="twi"></label>
                </div>
            </div>
        </div>
    </div>
    </main>
</body>
