<body>
    <app-colaboradores></app-colaboradores>
    <header>           
        <app-menu></app-menu> 
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>
    <footer>
        <app-footer></app-footer>
    </footer>
    <div class="contenedor-cookies">
        <div class="galletitas">
            <h2>Aviso de Cookies</h2>
            <p>Nuestra web utiliza cookies propias y de terceros para gestionar el portal, recabar información sobre la utilización del mismo, mejorar nuestros servicios y mostrarte publicidad relacionada con tus preferencias mediante el análisis de tu navegación. Puedes hacer clic en ACEPTAR para permitir el uso de cookies o ver la configuración de las cookies para ver información detallada y seleccionar qué tipo de cookies deseas aceptar o rechazar.</p>
            <a href="#">Ver más</a>
            <div class="aceptar">
                <a href="#" (click)="aceptarCookies()">Aceptar</a>
              </div>                
        </div>
    </div>
</body>
    