<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Ayudas para Personas con Discapacidad</title>
</head>
<body>
	<h1> FORMACIÓN </h1>
	<p id="Texto">En <b>Adapta-Tech</b>, creemos que la formación es un derecho de todos, 
        y por eso ofrecemos información sobre cursos online y presenciales adaptados a las 
        necesidades de las personas con discapacidad. 
       Estos cursos cuentan con recursos accesibles, como subtítulos y transcripciones para 
       el contenido multimedia, y un diseño claro y sencillo que facilita la comprensión visual. 
       Además, aqui puedes personalizar tu experiencia con los controles ajustables, 
       y recibir alertas visuales para los eventos importantes. 
       Nuestra plataforma es compatible con tecnologías de asistencia, 
       como dispositivos de vibración, para que nadie se quede atrás. 
       En estas páginas trabajan con una evaluación continua y la retroalimentación de nuestros alumnos, 
       trabajamos para crear una experiencia formativa que sea inclusiva y equitativa para cada persona, 
       independientemente de sus habilidades.</p>
	<div class="container">
		<div class="image-container">
			<a href="https://www.cursosfemxa.es/cursos-gratuitos-trabajadores-desempleados/discapacitados" Target="_blank"><img src="../../../assets/formacion1.jpeg" alt="Cursos gratuitos "></a>
			<p>Cursos gratuitos </p>
		</div>
		<div class="image-container">
			<a href="https://www.plenainclusion.org/formacion/" Target="_blank"><img src="../../../assets/formacion2.jpeg"alt="Formación Contínua"></a>
			<p>Formación Contínua</p>
		</div>
		<div class="image-container">
			<a href="https://aprendergratis.es/discapacidad/" Target="_blank"><img src="../../../assets/formacion3.jpeg" alt="Formación Presencial"></a>
			<p>Formación Presencial</p>
		</div>
	</div>
	<p>Aquí teneis alguno sitios que os pueden ser muy interesantes para la formación.</p>
	<div class="button-container">
		<button>Ver más</button>
	</div>
	<p id="Texto">Esta página web es accesible para personas con discapacidad visual, física, auditiva y cognitiva.</p>
    <p id="Texto">Si necesitas ayuda adicional para acceder a la información de esta página, por favor contáctanos.</p>
    <br><br><br><br><br>


		
	 
        </body>
<footer>
	
</footer>
</html>
