<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Ayudas para Personas con Discapacidad</title>
</head>
<body>
	<h1> Inclusión Sonora </h1>
	<p class="texto">En <b>Adapta-Tech</b>, nos dedicamos a proporcionar una experiencia inclusiva, 
		especialmente para aquellos con dificultades auditivas. Implementamos características 
		clave para garantizar la accesibilidad, como subtítulos y transcripciones para contenido multimedia. 
		Nuestro diseño claro y sencillo facilita la comprensión visual, mientras que los controles 
		ajustables permiten a los usuarios personalizar su experiencia. Además, nos esforzamos por 
		mantener una presentación clara de información y proporcionar opciones de alerta visual 
		para eventos importantes. 
		La compatibilidad con tecnologías de asistencia, como dispositivos de vibración, asegura 
		que nuestra plataforma sea accesible para todos. 
		Con pruebas continuas y la retroalimentación de usuarios reales, 
		trabajamos para crear una experiencia en línea que sea inclusiva 
		y equitativa para cada visitante, independientemente de sus habilidades auditivas.</p>
	<div class="contenedor">
		<div class="imagenContenedor">
			<img src="../../../assets/Subtítulos y Transcripciones.jpeg" alt="Subtítulos y Transcripciones">
			<div class="botonContenedor">
				<button>
					<a href="https://es.ava.me/" Target="_blank">
						Subtítulos
					</a>
				</button>
			</div>
		</div>
		<div class="imagenContenedor">
			<img src="../../../assets/ojo-primer-plano-iris-color_1268-26881.jpeg"alt="Alertas Visuales">
			<div class="botonContenedor">
				<button>
					<a href="https://gaptain.com/blog/18-herramientas-digitales-para-personas-con-discapacidad/" Target="_blank">
						Alertas Visuales
					</a>
				</button>
			</div>
		</div>
		<div class="imagenContenedor">
			<img src="../../../assets/control volumen.jpeg" alt="Controles de Volumen ">
			<div class="botonContenedor">
				<button>
					<a href="https://www.insuit.net/es/tipos-discapacidad-accesibilidad-web/" Target="_blank">
						Control Volumen
					</a>
				</button>
			</div>
		</div>
	</div>
	<em class="texto">Esta página web es accesible para personas con discapacidad <span>visual</span>, <span>física</span>, <span>auditiva </span>y <span>cognitiva</span>.</em>
    <p class="texto">Si necesitas ayuda adicional para acceder a la información de esta página, por favor contáctanos.</p>
</body>
</html>