<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Ayudas para Personas con Discapacidad</title>
</head>
<body>
	<h1> INCLUSIÓN </h1>
	<p id="Texto">En <b>Adapta-Tech</b>, apostamos por la inclusión de las personas con discapacidad
         en todos los ámbitos de la vida. 
         Por eso, nuestra plataforma está diseñada para ser accesible, usable y atractiva para todos 
         los usuarios, independientemente de sus habilidades. 
         Nuestra misión es facilitar el acceso a la información, la comunicación y la educación a través 
         de la tecnología, y promover la participación activa y el empoderamiento de las personas con discapacidad. 
         Nuestros valores se basan en el respeto, la diversidad, la igualdad y la innovación. 
         Queremos que cada persona se sienta parte de nuestra comunidad, y que pueda aprovechar al máximo
          las oportunidades que ofrece nuestra plataforma.</p>
	<div class="container">
		<div class="image-container">
			<a href="https://fundacionaon.es/mejorando-inclusion-personas-con-discapacidad-2023/" Target="_blank"><img src="../../../assets/INCLUSION1.jpeg" alt="Accesibilidad"></a>
			<p>Accesibilidad</p>
		</div>
		<div class="image-container">
			<a href="https://www.cdc.gov/ncbddd/spanish/disabilityandhealth/disability-inclusion.html" Target="_blank"><img src="../../../assets/INCLUSION2.jpeg"alt="Educación inclusiva"></a>
			<p>Educación inclusiva</p>
		</div>
		<div class="image-container">
			<a href="https://www.once.es/servicios-sociales/apoyo-al-empleo" Target="_blank"><img src="../../../assets/INCLUSION3.jpeg" alt="Empleo inclusivo"></a>
			<p>Empleo inclusivo</p>
		</div>
	</div>
	<p>Aquí teneis alguno sitios que os pueden ser muy interesantes para la formación.</p>
	<div class="button-container">
		<button>Ver más</button>
	</div>
	<p id="Texto">Esta página web es accesible para personas con discapacidad visual, física, auditiva y cognitiva.</p>
    <p id="Texto">Si necesitas ayuda adicional para acceder a la información de esta página, por favor contáctanos.</p>
    <br><br><br><br><br>


		
	 
        </body>
<footer>
	
</footer>
</html>
