<body>
    <div class="contenedor">
        <div class="contenedorcentrado">
            <h1>Bienvenido a la Página de Descargas</h1>
            <p>En esta página, encontrarás enlaces a diversos documentos importantes. Accede a ellos a través de los siguientes enlaces:</p>
                <div class="filas">
                    <div class="primeraFila">
                        <a href="https://www.seg-social.es/wps/wcm/connect/wss/c71c56bb-a023-4867-8e40-885c672064d4/C-148_Castellano_2_Accesibilidad.pdf?MOD=AJPERES" class="download-link" target="_blank" rel="noopener">Solicitud para farmacia gratuita</a>
                        <a href="https://www.energiaxxi.com/static/iberia/solicitud-bono-social.pdf" class="download-link" target="_blank" rel="noopener">Bono Social energiaXXI </a>
                        <a href="https://sede.seg-social.gob.es/wps/wcm/connect/sede/4d945895-2372-425f-9d83-f187386307fd/IMV_Castellano_14_Accesibilidad.pdf?MOD=AJPERES" class="download-link" target="_blank" rel="noopener">Ingreso minimo vital</a>
                    </div>
                    <div class="segundaFila">
                        <a href="https://www.juntadeandalucia.es/export/drupaljda/TA%20transporte%20colectivo.pdf" class="download-link" target="_blank" rel="noopener">Tarjeta de aparcamiento</a>
                        <a href="https://www.rpdiscapacidad.gob.es/documentos/OADIS/Beneficios.pdf" class="download-link" target="_blank" rel="noopener">Beneficios y ayudas para personas con discapacidad</a>
                        <a href="https://www.juntadeandalucia.es/haciendayadministracionpublica/rpa-icms-doc/icmsDescargaDoc.do?tipo=4b40ba71bf0bae77c7a9e6765035191a&id=b4b2a2544ac8eed6e66f65123a14e422" class="download-link" target="_blank" rel="noopener">Reconocimiento grado de discapacidad </a>
                    </div>
                </div>
        </div>
    </div>
</body>