*{
    list-style: none;
}
footer {
    background-color: #333;
    height: auto;
    margin: 1rem;
    padding: 2rem 2rem 0 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 10px;
}

.informacion {
    grid-area: informacion;
    color: white;
    font-weight: bold;
    justify-self: center;
    margin-bottom: 2rem;
}

.nosotros, .redes {
    text-align: center;
}
.nosotros ul, .redes ul {
    display: flex;
    justify-content: center;
}
.nosotros li, .redes li {
    padding: .2rem;
}
.nosotros h3, .redes h3 {
    padding-bottom: .5rem;
    text-shadow: -1px -1px 0 rgb(175, 194, 194), 1px -1px 0 rgb(168, 175, 175), 1px 1px rgb(255, 255, 255), -1px 1px 0 rgb(81, 86, 86);
}

.redes #twi {
    background-color: #0077b5;
    border-radius: 50%;
    padding: 10px;
}

.redes #insta {
    background-color:  magenta;
    border-radius: 50%;
    padding: 10px;
}

.redes #you {
    background-color: #f00;
    border-radius: 50%;
    padding: 10px;
}

.redes #face {
    background-color: #3b5999;
    border-radius: 50%;
    padding: 10px;
}

.redes li {
    padding: .2rem;
}

.aviso {
    grid-area: aviso;
    text-align: center;
    justify-self: center;
    color: white;
    font-weight: bold;
    margin: 1rem;
}

footer a,
footer span {
    color: white;
    font-weight: bold;
    margin: 1rem;
}

