<footer>
    <div class="informacion">
        <a href="tel:+34952028585">(+34) 952 028 585</a> |
        <a href="#">Contacta</a> |
        <a href="mailto:proyecto@proyecto.com">proyecto&#64;proyecto.com</a>
    </div>
    <div class="nosotros">
        <h3>Sobre nosotros</h3>
        <ul>
            <li><a href="#">Quienes somos</a></li>
            <li><a href="#">Proyectos</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Trabaja con nosotros</a></li>
        </ul>
    </div>
    <div class="redes">
        <h3>Redes sociales</h3>
        <ul>
            <li><a href="#"><i class="fab fa-twitter icon" id="twi"></i> Twitter</a></li>
            <li><a href="#"><i class="fa-brands fa-instagram" id="insta"></i> Instagram</a></li>
            <li><a href="#"><i class="fa-brands fa-youtube" id="you"></i> Youtube</a></li>
            <li><a href="#"><i class="fab fa-facebook-f icon" id="face"></i> Facebook</a></li>
        </ul>
    </div>
    <div class="aviso">
        <a href="#">Aviso Legal</a> |
        <a href="#">Política de privacidad</a> |
        <a href="#">Uso de cookies</a> |
        <a href="#">Baja de newsletter</a>
        <hr>
        <span> &copy 2024 Adapta-Tech - Andalucía (España). Todos los derechos reservados.</span>
    </div>
</footer>
