<html>
  <body>
    <footer>
      <!-- <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
      </div> -->
    <ul class="iconos">
      <li class="social-icon__item"><a class="redesFac" href="https://www.facebook.com/profile.php?id=61555804875723" target="_blank">
        <i class="fab fa-facebook-f icon" id="face"></i>
        </a></li>
      <li class="social-icon__item"><a class="redesTwi" href="https://twitter.com/TechAdapta"target="_blank">
        <i class="fab fa-twitter icon" id="twi"></i>
        </a></li>
      <li class="social-icon__item"><a class="redesYou" href="https://www.youtube.com/channel/UCM5faPNeGnfIUYtz6MU0qMw"target="_blank">
        <i class="fa-brands fa-youtube" id="you"></i>
        </a></li>
      <li class="social-icon__item"><a class="redesIns" href="https://www.instagram.com/adaptatechsev/"target="_blank">
        <i class="fa-brands fa-instagram" id="insta"></i>
        </a></li>
    </ul>
    <ul class="aviso">
      <li class="menu__item"><a class="info" routerLink="/inicio">Inicio</a></li>
      <li class="menu__item"><a class="info" routerLink="/equipo">Equipo</a></li>
      <li class="menu__item"><a class="info" routerLink="/contacto">Contacto</a></li>

    </ul>
    <p>&copy; 2024 Adapta-Tech - Andalucía (España) | Todos los derechos reservados.</p>
  </footer>
</body>

</html>