<html>
<body>
  <footer>
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <ul class="iconos">
      <li class="social-icon__item"><a class="redes" href="#">
        <i class="fab fa-facebook-f icon" id="face"></i>
        </a></li>
      <li class="social-icon__item"><a class="redes" href="#">
        <i class="fab fa-twitter icon" id="twi"></i>
        </a></li>
      <li class="social-icon__item"><a class="redes" href="#">
        <i class="fa-brands fa-youtube" id="you"></i>
        </a></li>
      <li class="social-icon__item"><a class="redes" href="#">
        <i class="fa-brands fa-instagram" id="insta"></i>
        </a></li>
    </ul>
    <ul class="aviso">
      <li class="menu__item"><a class="info" href="#">Inicio</a></li>
      <li class="menu__item"><a class="info" href="#">Servicios</a></li>
      <li class="menu__item"><a class="info" href="#">Equipo</a></li>
      <li class="menu__item"><a class="info" href="#">Contacto</a></li>

    </ul>
    <p>&copy; 2024 Adapta-Tech - Andalucía (España) | Todos los derechos reservados.</p>
  </footer>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>