/* 
#btn-mas{
    display: none;
}
.container{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.btn-mas label{
    display: block;
    text-decoration: none;
    background: #cc2b2b;
    color: #fff;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 5px 1px 10px rgba(29, 25, 25, 0.4);
    transition: all 500ms ease;
    z-index: 99999;
}
.opciones a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: white;
    z-index: 9999;
}
.opciones a:hover{
    background: #fff;
    color: #cc2b2b;
}
.opciones a{
    margin-top: -15px;
    opacity: 0;
    visibility: hidden;
}
#btn-mas:checked~ .opciones a{
    margin-top: 10px;
    opacity: 1;
    visibility: visible;
}
.btn-mas label{
    cursor: pointer;
    background: #f44141;
    font-size: 23px;
}
#btn-mas:checked ~ .btn-mas label{
    transform: rotate(135deg);
    font-size: 25px;
} */