<body>
    <div class="secciones">
        <header class="menu">
            <nav class="nav" id="nav">
                <ul class="angular">                         
                    <li>Recursos
                        <ul class="desplegable1">
                            <li><a routerLink="/ayudas" class="a">Ayudas</a></li>
                            <li><a routerLink="/formacion" class="a">Formación</a></li>
                            <li><a routerLink="/inclusion" class="a">Inclusión</a></li>
                            <li><a routerLink="/ocio" class="a">Ocio</a></li>
                        </ul>
                    </li>
                    <li>Comunidad
                        <ul class="desplegable1">
                            <li><a routerLink="/foro" class="a">Foro</a></li>
                            <li><a routerLink="/testimonios" class="a">Testimonios</a></li>
                            <li><a routerLink="/historias" class="a">Historias</a></li>
                        </ul>
                    </li>
                    <li>Accesibilidad
                        <ul class="desplegable1">
                            <li><a routerLink="/visual" class="a">Dificultad Visual</a></li>
                            <li><a routerLink="/fisica" class="a">Dificultad Física</a></li>
                            <li><a routerLink="/auditiva" class="a">Dificultad Auditiva </a></li>
                            <li><a routerLink="/cognitiva" class="a">Dificultad Cognitiva</a></li>
                        </ul>
                    </li>
                    <li>Herramientas
                        <ul class="desplegable1">
                            <li><a routerLink="/calcu" class="a">Calculadora</a></li>
                            <li><a routerLink="/medic" class="a">Medicacion</a></li>
                            <li><a routerLink="/lista" class="a">Lista de Tareas</a></li>
                        </ul>
                    </li>
                    <li><a routerLink="/descargas">Descargas</a>
                    </li>                    
                </ul>
            </nav>
        </header>
        <div class="logo">
            <div class="contenedorLogo">
                <div class="fotoLogo">
                    <a routerLink="/inicio">
                        <img src="../../../assets/logo/di.png" alt="">
                    </a>
                </div>
                <div class="bandera1">
                    <img src="../../../assets/logo/espania.avif" alt="">
                </div>
                <div class="bandera2">
                    <img src="../../../assets/logo/gb.webp" alt="">
                </div>
            </div>    
        </div>
        <div class="login">
            <a routerLink="/login">
                <i class="fas fa-sign-in-alt"></i> <!-- Ícono de login de Font Awesome -->
            </a>
            <a routerLink="/registro">
                <i class="fas fa-user-plus"></i> <!-- Ícono de registro de Font Awesome -->
            </a>
        </div>
    </div>
</body>