<body>
    <div class="secciones">
        <header class="menu">
            <nav>
                <ul class="angular">      
                    <li>Información
                        <ul class="desplegable1">
                            <li><a routerLink="/quienes" class="a">¿Quiénes Somos?</a></li>
                            <li><a routerLink="/donde" class="a">¿Dónde Estamos?</a></li>
                            <li><a routerLink="/contacto" class="a">Contacto &rarr;</a>
                            <ul class="desplegable2">
                                <li><a routerLink="/telefono" class="a">Teléfono</a></li>
                                <li><a routerLink="/email" class="a">Email</a></li>
                            </ul>
                            </li>
                        </ul>
                    </li>
                    <li>Recursos
                        <ul class="desplegable1">
                            <li><a routerLink="/ayudas" class="a">Ayudas</a></li>
                            <li><a routerLink="/formacion" class="a">Formación</a></li>
                            <li><a routerLink="/inclusion" class="a">Inclusión</a></li>
                            <li><a routerLink="/ocio" class="a">Ocio</a></li>
                        </ul>
                    </li>
                    <li>Comunidad
                        <ul class="desplegable1">
                            <li><a routerLink="/foro" class="a">Foro</a></li>
                            <li><a routerLink="/testimonios" class="a">Testimonios</a></li>
                            <li><a routerLink="/historias" class="a">Historias</a></li>
                        </ul>
                    </li>
                    <li>Accesibilidad
                        <ul class="desplegable1">
                            <li><a routerLink="/lectores" class="a">Lectores de pantalla</a></li>
                            <li><a routerLink="/subitulos" class="a">Dispositivos adaptados </a></li>
                            <li><a routerLink="/navegacion" class="a">Navegadores accesibles</a></li>
                        </ul>
                    </li>
                    <li>Colaboradores
                        <ul class="desplegable1">
                            <li><a routerLink="/telefonica">Telefónica</a></li>
                            <li><a routerLink="/once">Once</a></li>
                            <li><a routerLink="/cabify">Cabify</a></li>
                            <li><a routerLink="/amazon">Amazon</a></li>
                        </ul>
                    </li>       
                </ul>
            </nav>
        </header>
        <div class="logo">
            <a routerLink="/">
                <img src="../../../assets/di.jpg" alt="">
            </a>
        </div>
        <div class="login">
            <a routerLink="/login">
                <i class="fas fa-sign-in-alt"></i> <!-- Ícono de login de Font Awesome -->
            </a>
            <a routerLink="/registro">
                <i class="fas fa-user-plus"></i> <!-- Ícono de registro de Font Awesome -->
            </a>
        </div>
    </div>
</body>