* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
/* .abrir,
.cerrar {
    display: none;
} */
/* Grid */
.secciones {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    grid-template-areas: "login menu logo";
    gap: 1rem;
  }

/* Estructura login */
  .login {
    grid-area: login;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #2667c9dc;
    color: white;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    height: 80px;
    box-shadow: -1px 0 1px black, 1px 0 5px 1px black;
    border-radius: 0.5rem 0.5rem 0 0;
}

/* Estructura menú */
.menu {
    grid-area: menu;
    height: 80px;
}

 /* Barra desplegable */
 .angular {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2667c9dc;
    color: white;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    box-shadow: -1px 0 1px black, 1px 0 5px 1px black;
    border-radius: 0.5rem 0.5rem 0 0;
    height: 80px;
    width: 100%;
}

/* Ocultar desplegable 1 */
.angular .desplegable1 {
    display: none;
}
/* Mostrar desplegable 1 */
.angular li:hover .desplegable1 {
    display: block;
    position: absolute;
    padding: 1rem 1.5rem 2rem 1rem;
    width: 250px;
    height: auto;
    border-top: 5px solid rgb(52, 58, 235);
    background-color: #2667c9dc;  
    margin-top: auto;
    animation: rotar 0.5s ease backwards;
    border-radius: 0 0 10px 10px;
}

@keyframes rotar {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotateY(360deg); 
  }
}
/* Ocultar desplegable 2
.angular .desplegable1 .desplegable2{
    display: none;
}
Mostrar desplegable 2 
.angular li:hover .desplegable1 li:hover .desplegable2{
    display: block;
    position: absolute;
    top: 80px;
    left: 100px;
    padding: 1rem 1.5rem 2rem 1rem;
    width: 150px;
    z-index: 1;
    background-color: transparent; 
} */
/* Estructura logo */
.logo {
    grid-area: logo;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 99%;
    background-color: #2667c9dc;
    height: 80px;
    box-shadow: -1px 0 1px black, 1px 0 5px 1px black;
    border-radius: 0.5rem 0.5rem 0 0; 
}
.logo .container {
    z-index: 9999;
    border: 4px solid red;
    padding: 20px;
    
}

.logo img {
    width: 90px;
    height: 75px;
}
 
/* Encabezado de primer nivel */
h1 {
    text-align: center;
    width: 100%;
    margin: 0px auto;
    font-size: 30px;
    letter-spacing: 5px;

    text-shadow: -1px -1px 0px #2196f3,
        3px 3px 0px #2196f3,
        6px 6px 0px #00000055;
}

p {
    margin: 20px 0 0 20px;
    color: black;
    font-weight: bolder;
}
/* Enlaces */
a {
    color: white;
    text-shadow: 
  -1px -1px 0 black,
   1px -1px 0 black,
  -1px  1px 0 black,
   1px  1px 0 black;
   cursor: pointer;
}

.a:hover {
    padding: .5rem;
    border-radius: 0.5rem;
    box-shadow: inset 1px 1px 1px black;
    background-color: rgb(52, 58, 235);
    font-size: small;
    display: block;
    transition: all 1s ease;
}
.login a {
    
    padding: 10px;
    border-radius: 0.5rem;
}

.login a:hover {
    border-radius: 0.5rem;
    box-shadow: inset 1px 5px 5px 1px rgba(0, 0, 0, 0.5);
}

/* para hacerlo responsive */

@media only screen and (max-width: 1280px) {
    .secciones {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-areas: "menu menu"
                             "login logo";
        gap: 1rem;
        justify-content: center;
      }
    .menu {
        grid-area: menu;
    }
    .login {
        grid-area: login;
        margin-left: 5px;
    }
    .logo {
        grid-area: logo;
    }
}

/* @media only screen and (max-width: 600px) {
    .secciones {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "login"
                             "logo"
                             "menu";  
        justify-content: center;      
      }
    .login {
        grid-area: login;
    }
    .logo {
        grid-area: logo;
    }
    .menu {
        grid-area: menu;
        margin: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 99%;
        background-color: rgb(44, 47, 49);
        height: 80px;
        border-radius: 0.5rem 0.5rem 0 0; 
    }
    .abrir,
    .cerrar {
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
    }
    .abrir,
    .cerrar {
        color: white;
    }
    .abrir:hover {
        color: aquamarine;
    }
    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 2rem;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    }
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    .angular {
        flex-direction: column;
        align-items: center;
        background-color:darkcyan;
    }
    .angular li a {
        text-decoration: none;
        color: #fff;
        background-color:darkcyan;
    }
    .angular li:hover .desplegable1 {
        display: block;
        position: absolute;
        left: 150px;
        padding: 1rem 1.5rem 2rem 1rem;
        width: 250px;
        height: auto;
        border-top: 5px solid rgb(5, 20, 221);
        background-color: rgba(44, 47, 49, 0.85);  
        margin-top: auto;
        animation: rotar 0.5s ease backwards;
    }
} */
