* {
    box-sizing: border-box;
    margin-top: 1px;
    text-decoration: none;
}
/* Grid */
.secciones {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    grid-template-rows: auto auto;
    grid-template-areas: 
                    "colaboradores colaboradores colaboradores"
                    "login menu logo";
    gap: 1rem;
  }
.colaboradores{
    grid-area: colaboradores;
    background-color: transparent;
    width: 100%;
    margin: 0;
    
}
.deslizador {
    margin: 0;
    width: 100vw;
    overflow: hidden;
    background-color: white;
}

.deslizador .diapositiva {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scroll 40s linear infinite;
    width: calc(200px * 12);
    background-color: transparent;
    gap: 10px;
}

.deslizador .dia {
    width: 250px;
    display: flex;
}

.deslizador .dia img {
    width: 220px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-200px * 6))
    }
}
/* Estructura login */
  .login {
    grid-area: login;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: rgb(49, 48, 44);
    color: white;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    height: 80px;
    box-shadow: -1px 0 1px black, 1px 0 5px 1px black;
    border-radius: 0.5rem 0.5rem 0 0;
}

/* Estructura menú */
.menu {
    grid-area: menu;
    height: 80px;
}

 /* Barra desplegable */
 .angular {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(44, 47, 49);
    color: white;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    box-shadow: -1px 0 1px black, 1px 0 5px 1px black;
    border-radius: 0.5rem 0.5rem 0 0;
    height: 80px;
}

/* Ocultar desplegable 1 */
.angular .desplegable1 {
    display: none;
}
/* Mostrar desplegable 1 */
.angular li:hover .desplegable1 {
    display: block;
    position: absolute;
    padding: 1rem 1.5rem 2rem 1rem;
    width: 250px;
    height: auto;
    border-top: 5px solid rgb(5, 20, 221);
    background-color: rgba(44, 47, 49, 0.85);  
    margin-top: auto;
    animation: rotar 0.5s ease backwards;
}

@keyframes rotar {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotateY(360deg); 
  }
}
/* Ocultar desplegable 2 */
.angular .desplegable1 .desplegable2{
    display: none;
}
/* Mostrar desplegable 2 */
.angular li:hover .desplegable1 li:hover .desplegable2{
    display: block;
    position: absolute;
    top: 80px;
    left: 100px;
    padding: 1rem 1.5rem 2rem 1rem;
    width: 150px;
    z-index: 1;
    background-color: transparent; 
}
/* Estructura logo */
.logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    background-color: rgb(44, 47, 49);
    height: 80px;
    box-shadow: -1px 0 1px black, 1px 0 5px 1px black;
    border-radius: 0.5rem 0.5rem 0 0; 
}

.logo img {
    width: 90px;
    height: 75px;
}
 
/* Encabezado de primer nivel */
h1 {
    text-align: center;
    width: 100%;
    margin: 0px auto;
    font-size: 30px;
    letter-spacing: 5px;

    text-shadow: -1px -1px 0px #2196f3,
        3px 3px 0px #2196f3,
        6px 6px 0px #00000055;
}

p {
    margin: 20px 0 0 20px;
    color: black;
    font-weight: bolder;
}
/* Enlaces */
a {
    color: white;
    text-shadow: 
  -1px -1px 0 black,
   1px -1px 0 black,
  -1px  1px 0 black,
   1px  1px 0 black;
   cursor: pointer;
}

.a:hover {
    padding: .5rem;
    border-radius: 0.5rem;
    box-shadow: inset 1px 1px 1px black;
    background-color: rgb(16, 17, 18);
    font-size: small;
    display: block;
    transition: all 1s ease;
}
.login a {
    
    padding: 10px;
    border-radius: 0.5rem;
}

.login a:hover {
    border-radius: 0.5rem;
    box-shadow: inset 1px 5px 5px 1px rgba(0, 0, 0, 0.5);
}

/* para hacerlo responsive */

@media only screen and (max-width: 1080px) {
    .secciones {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-areas: "menu menu"
                             "login logo";
        gap: 1rem;
      }
      .menu {
        /* grid-area: menu; */
        grid-column: 1 / span 3;
    }
    .login {
        grid-area: login;
    }
    .logo {
        grid-area: logo;
    }
}