/* body {
    margin: 10rem 0 5rem 0;
} */

body {
    background-color: beige;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
.deslizador {
    width: 100vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    border-radius: 2rem;
    background-color: white;
}

.deslizador .diapositiva {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scroll 40s linear infinite;
    width: calc(200px * 12);
    background-color: transparent;
    gap: 10px;
}

.deslizador .dia {
    width: 250px;
    display: flex;
}

.deslizador .dia img {
    width: 220px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-200px * 6))
    }
}