<body>
    <div class="deslizador">
        <div class="diapositiva">
            <div class="dia">
                <a href="https://www.amazon.es" target="_blank">
                    <img src="../../assets/amazon.png" alt="">
                </a>
            </div>
            <div class="dia">
                <a href="https://www.cabify.com" target="_blank">
                    <img src="../../assets/Cabify.png" alt="">
                </a>
            </div>
            <div class="dia">
                <a href="https://www.cocemfe.es" target="_blank">
                    <img src="../../assets/cocemfe.jpg" alt="">
                </a>
            </div>
            <div class="dia">
                <a href="https://www.juntadeandalucia.es" target="_blank">
                    <img src="../../assets/junta.png" alt="">
                </a>
            </div>
            <div class="dia">
                <a href="https://www.once.es" target="_blank">
                    <img src="../../assets/once.png" alt="">
                </a>
            </div>
            <div class="dia">
                <a href="https://www.telefonica.com" target="_blank">
                    <img src="../../assets/telefonica.png" alt="">
                </a>
            </div>

            <div class="dia">
                <a href="https://www.amazon.es" target="_blank">
                    <img src="../../assets/amazon.png" alt="">
                </a>
            </div>
            <div class="dia">
                <a href="https://www.cabify.com" target="_blank">
                    <img src="../../assets/Cabify.png" alt="">
                </a>
            </div>
            <div class="dia">
                <a href="https://www.cocemfe.es" target="_blank">
                    <img src="../../assets/cocemfe.jpg" alt="">
                </a>
            </div>
            <div class="dia">
                <a href="https://www.juntadeandalucia.es" target="_blank">
                    <img src="../../assets/junta.png" alt="">
                </a>
            </div>
            <div class="dia">
                <a href="https://www.once.es" target="_blank">
                    <img src="../../assets/once.png" alt="">
                </a>
            </div>
            <div class="dia">
                <a href="https://www.telefonica.com" target="_blank">
                    <img src="../../assets/telefonica.png" alt="">
                </a>
            </div>
        </div>
    </div>
</body>
