<body>
    <div class="deslizador">
        <div class="diapositiva">
            <div class="dia">
                <a href="https://www.amazon.es" target="_blank">
                    <img src="../../assets/Banner_colaboradores/amazon.png" alt="">
                </a>
            </div>
            <div class="dia">
                <a href="https://www.cabify.com" target="_blank">
                    <img src="../../assets/Banner_colaboradores/Cabify.png" alt="">
                </a>
            </div>
            <div class="dia">
                <a href="https://www.cocemfe.es" target="_blank">
                    <img src="../../assets/Banner_colaboradores/cocemfe.jpg" alt="">
                </a>
            </div>
            <div class="dia">
                <a href="https://www.juntadeandalucia.es" target="_blank">
                    <img src="../../assets/Banner_colaboradores/junta.png" alt="">
                </a>
            </div>
            <div class="dia">
                <a href="https://www.once.es" target="_blank">
                    <img src="../../assets/Banner_colaboradores/once.png" alt="">
                </a>
            </div>
            <div class="dia">
                <a href="https://www.telefonica.com" target="_blank">
                    <img src="../../assets/Banner_colaboradores/telefonica.png" alt="">
                </a>
            </div>
            <div class="dia">
                <a href="https://www.elcorteingles.es/" target="_blank">
                    <img src="../../assets/Banner_colaboradores/corte_ingles.png" alt="">
                </a>
            </div>
            <div class="dia">
                <a href="https://www.carrefour.es/" target="_blank">
                    <img src="../../assets/Banner_colaboradores/carrefour.png" alt="">
                </a>
            </div>
            <div class="dia">
                <a href="https://www.fundaciononce.es/es" target="_blank">
                    <img src="../../assets/Banner_colaboradores/fundacion_once.png" alt="">
                </a>
            </div>
            <div class="dia">
                <a href="https://www.ilunion.com/es" target="_blank">
                    <img src="../../assets/Banner_colaboradores/iluminion.png" alt="">
                </a>
            </div>
            <div class="dia">
                <a href="https://fundacionvodafone.es/" target="_blank">
                    <img src="../../assets/Banner_colaboradores/fundacion_vodafone.png" alt="">
                </a>
            </div>
            <div class="dia">
                <a href="https://www.samsung.com/es/sustainability/accessibility/overview/" target="_blank">
                    <img src="../../assets/Banner_colaboradores/samsung.png" alt="">
                </a>
            </div>
            <div class="dia">
                <a href="hthttps://www.microsoft.com/es-es" target="_blank">
                    <img src="../../assets/Banner_colaboradores/mircrosoft.png" alt="">
                </a>
            </div>

        </div>
    </div>
</body>
