<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Empresas Colaboradoras</title>
</head>
<body>
    <div class="carousel-container">
        <div class="sphere" id="sphere1">
            <div class="ONCE">ONCE</div>
        </div>
        <div class="sphere" id="sphere2">
            <div class="TELEFONICA">TELEFONICA</div>
        </div>
        <div class="sphere" id="sphere3">
            <div class="COCEMFE">COCEMFE</div>
        </div>
        <div class="sphere" id="sphere4">
            <div class="CABIFY">CABIFY</div>
        </div>
        <div class="sphere" id="sphere5">
            <div class="AMAZON">AMAZON</div>
        </div>
        <div class="sphere" id="sphere6">
            <div class="JUNTA DE ANDALUCIA">JUNTA DE ANDALUCIA</div>
        </div>
    </div>
</body>


<footer>
	
</footer>
</html>