<body>

  <div class="container">
    <input required="" type="text" name="text" class="input">
    <label class="label">MEDICACIÓN</label>
  </div>
  <br><br>
  <div class="container">
    <input required="" type="text" name="text" class="input">
    <label class="label">POSOLOGÍA</label>
  </div>
  <br><br>
  <div class="container">
    <input required="" type="text" name="text" class="input">
    <label class="label">FUNCIÓN</label>
  </div>
  <footer>
    <!-- Contenido del pie de página -->
  </footer>
</body>
  <div class="area-total-abas">
   <div class="lista-abas amimacao-flip">
   <input type="radio" name="lista-abas" checked id="aba-1" class="aba-1">
   <label for="aba-1"><span><span>LUNES</span></span></label>
   <input type="radio" name="lista-abas" id="aba-2" class="aba-2">
   <label for="aba-2"><span><span>MARTES</span></span></label>
   <input type="radio" name="lista-abas" id="aba-3" class="aba-3">
   <label for="aba-3"><span><span>MIÉRCOLES</span></span></label>
   <input type="radio" name="lista-abas" id="aba-4" class="aba-4">
   <label for="aba-4"><span><span>JUEVES</span></span></label>
   <input type="radio" name="lista-abas" id="aba-5" class="aba-5">
   <label for="aba-5"><span><span>VIERNES</span></span></label>
   <input type="radio" name="lista-abas" id="aba-6" class="aba-6">
   <label for="aba-6"><span><span>SÁBADO</span></span></label>
   <input type="radio" name="lista-abas" id="aba-7" class="aba-7">
   <label for="aba-7"><span><span>DOMINGO</span></span></label>
     <ul>
      <li class="aba-1">
       <div class="conteudo">
         <h1>LUNES</h1>
         <br>
         <p>MEDICACIÓN</p>
         <p>Posología</p>
         <p>¿ Para que sirve ?  </p>
       </div>
      </li>
      <li class="aba-2">
       <div class="conteudo">
         <h1>MARTES</h1>
         <br>
         <p>MEDICACIÓN</p>
         <p>Posología</p>
         <p>¿ Para que sirve ?  </p>
       </div>
      </li>
      <li class="aba-3">
       <div class="conteudo">
         <h1>MIÉRCOLES</h1>
         <br>
         <p>MEDICACIÓN</p>
         <p>Posología</p>
         <p>¿ Para que sirve ?  </p>
       </div>
      </li>
      <li class="aba-4">
       <div class="conteudo">
         <h1>JUEVES</h1>
         <br>
         <p>MEDICACIÓN</p>
         <p>Posología</p>
         <p>¿ Para que sirve ? </p>
       </div>
      </li>
      <li class="aba-5">
         <div class="conteudo">
           <h1>VIERNES</h1>
           <br>
           <p>MEDICACIÓN</p>
         <p>Posología</p>
         <p>¿ Para que sirve ? </p>
         </div>
       </li>
       <li class="aba-6">
         <div class="conteudo">
           <h1>SÁBADO</h1>
           <br>
           <p>MEDICACIÓN</p>
         <p>Posología</p>
         <p>¿ Para que sirve ? </p>
         </div>
       </li><li class="aba-7">
         <div class="conteudo">
           <h1>DOMINGO</h1>
           <br>
           <p>MEDICACIÓN</p>
         <p>Posología</p>
         <p>¿ Para que sirve ? </p>
         </div>                  
     </ul>
  </div>
         

