<body>
  <div class="contenedorPadre">
    <div class="contenedor">
      <input required="" type="text" name="text" class="input">
      <label class="label"><strong>MEDICACIÓN</strong></label>
    </div>
    <div class="contenedor">
      <input required="" type="text" name="text" class="input">
      <label class="label"><strong>POSOLOGÍA</strong></label>
    </div>
    <div class="contenedor">
      <input required="" type="text" name="text" class="input">
      <label class="label"><strong>FUNCIÓN</strong></label>
    </div>
    </div>
    <!-- ------------------ -->
    <div class="worko-tabs">
      <input class="state" type="radio" title="tab-one" name="tabs-state" id="tab-one" checked />
      <input class="state" type="radio" title="tab-two" name="tabs-state" id="tab-two" />
      <input class="state" type="radio" title="tab-three" name="tabs-state" id="tab-three" />
      <input class="state" type="radio" title="tab-four" name="tabs-state" id="tab-four" />
      <input class="state" type="radio" title="tab-five" name="tabs-state" id="tab-five" />
      <input class="state" type="radio" title="tab-six" name="tabs-state" id="tab-six" />
      <input class="state" type="radio" title="tab-seven" name="tabs-state" id="tab-seven" />
      <!-- ------------------ -->
      <div class="tabs flex-tabs">
          <label for="tab-one" id="tab-one-label" class="tab">LUNES</label>
          <label for="tab-two" id="tab-two-label" class="tab">MARTES</label>
          <label for="tab-three" id="tab-three-label" class="tab">MIÉRCOLES</label>
          <label for="tab-four" id="tab-four-label" class="tab">JUEVES</label>
          <label for="tab-five" id="tab-five-label" class="tab">VIERNES</label>
          <label for="tab-six" id="tab-six-label" class="tab">SÁBADO</label>
          <label for="tab-seven" id="tab-seven-label" class="tab">DOMINGO</label>
      <!-- ------------------ -->
          <div id="tab-one-panel" class="panel active">
            <h3>Control Médico.</h3>
            <p>Medicamento:</p>
            <p>Posología:</p>
            <p>Función:</p>
            <h3>Cita Médica.</h3>
            <p>Médico:</p>
            <p>Fecha:</p>
            <p>hora:</p>
            <p>Centro-Consulta:</p>
          </div>
          <!-- ------------------ -->
          <div id="tab-two-panel" class="panel">
            <h3>Control Médico.</h3>
            <p>Medicamento:</p>
            <p>Posología:</p>
            <p>Función:</p>
            <h3>Cita Médica.</h3>
            <p>Médico:</p>
            <p>Fecha:</p>
            <p>hora:</p>
            <p>Centro-Consulta:</p>
          </div>
          <!-- ------------------ -->
          <div id="tab-three-panel" class="panel">
            <h3>Control Médico.</h3>
            <p>Medicamento:</p>
            <p>Posología:</p>
            <p>Función:</p>
            <h3>Cita Médica.</h3>
            <p>Médico:</p>
            <p>Fecha:</p>
            <p>hora:</p>
            <p>Centro-Consulta:</p>
          </div>
          <!-- ------------------ -->
          <div id="tab-four-panel" class="panel">
            <h3>Control Médico.</h3>
            <p>Medicamento:</p>
            <p>Posología:</p>
            <p>Función:</p>
            <h3>Cita Médica.</h3>
            <p>Médico:</p>
            <p>Fecha:</p>
            <p>hora:</p>
            <p>Centro-Consulta:</p>
          </div>
          <!-- ------------------ -->
          <div id="tab-five-panel" class="panel">
            <h3>Control Médico.</h3>
            <p>Medicamento:</p>
            <p>Posología:</p>
            <p>Función:</p>
            <h3>Cita Médica.</h3>
            <p>Médico:</p>
            <p>Fecha:</p>
            <p>hora:</p>
            <p>Centro-Consulta:</p>
        </div>
        <!-- ------------------ -->
        <div id="tab-six-panel" class="panel">
          <h3>Control Médico.</h3>
          <p>Medicamento:</p>
          <p>Posología:</p>
          <p>Función:</p>
          <h3>Cita Médica.</h3>
          <p>Médico:</p>
          <p>Fecha:</p>
          <p>hora:</p>
          <p>Centro-Consulta:</p>
        </div>
        <!-- ------------------ -->
        <div id="tab-seven-panel" class="panel">
          <h3>Control Médico.</h3>
          <p>Medicamento:</p>
          <p>Posología:</p>
          <p>Función:</p>
          <h3>Cita Médica.</h3>
          <p>Médico:</p>
          <p>Fecha:</p>
          <p>hora:</p>
          <p>Centro-Consulta:</p>
        </div>
      </div>
    </div>
    <!-- ------------------ -->
    <div class="botonera">
      <button>Seleccionar</button>
      <button>Borrar</button>
      <button>Modificar</button>   
    </div>
</body>  