<body>
    <div class="secciones">
        <!-- header -->
        <header class="menu">
            <nav>
                <ul class="angular">      
                    <li>Información
                        <ul class="desplegable1">
                            <li><a routerLink="/quienes" class="a">¿Quiénes Somos?</a></li>
                            <li><a routerLink="/donde" class="a">¿Dónde Estamos?</a></li>
                            <li><a routerLink="/contacto" class="a">Contacto &rarr;</a>
                            <ul class="desplegable2">
                                <li><a routerLink="/telefono" class="a">Teléfono</a></li>
                                <li><a routerLink="/email" class="a">Email</a></li>
                            </ul>
                            </li>
                        </ul>
                    </li>
                    <li>Recursos
                        <ul class="desplegable1">
                            <li><a routerLink="/ayudas" class="a">Ayudas</a></li>
                            <li><a routerLink="/formacion" class="a">Formación</a></li>
                            <li><a routerLink="/inclusion" class="a">Inclusión</a></li>
                            <li><a routerLink="/ocio" class="a">Ocio</a></li>
                        </ul>
                    </li>
                    <li>Comunidad
                        <ul class="desplegable1">
                            <li><a routerLink="/foro" class="a">Foro</a></li>
                            <li><a routerLink="/testimonios" class="a">Testimonios</a></li>
                            <li><a routerLink="/historias" class="a">Historias</a></li>
                        </ul>
                    </li>
                    <li>Accesibilidad
                        <ul class="desplegable1">
                            <li><a routerLink="/lectores" class="a">Lectores de pantalla</a></li>
                            <li><a routerLink="/subitulos" class="a">Dispositivos adaptados </a></li>
                            <li><a routerLink="/navegacion" class="a">Navegadores accesibles</a></li>
                        </ul>
                    </li>
                    <li>Colaboradores
                        <ul class="desplegable1">
                            <li><a routerLink="/telefonica">Telefónica</a></li>
                            <li><a routerLink="/once">Once</a></li>
                            <li><a routerLink="/cabify">Cabify</a></li>
                            <li><a routerLink="/amazon">Amazon</a></li>
                        </ul>
                    </li>       
                </ul>
            </nav>
        </header>
        <div class="logo">
            <a routerLink="/">
                <img src="../../../assets/di.jpg" alt="">
            </a>
        </div>
        <div class="login">
            <a href="#" onclick="cargarContenido('opciones/formularioIngreso.html'); return false;">
                <i class="fas fa-sign-in-alt"></i> <!-- Ícono de login de Font Awesome -->
            </a>
            <a href="#" onclick="cargarContenido('opciones/formularioRegistro.html'); return false;">
                <i class="fas fa-user-plus"></i> <!-- Ícono de registro de Font Awesome -->
            </a>
        </div>
        <!-- main -->
        <main class="contenido">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati rerum distinctio ipsam pariatur perferendis, est iste iusto, dignissimos, tempora eligendi molestiae tempore? Quidem quasi sit amet nobis totam quam? Dicta!
          Optio iure soluta inventore excepturi ad a totam? Delectus officiis unde illum perferendis itaque cumque dolorum temporibus, nemo enim possimus exercitationem excepturi modi impedit tenetur earum dolorem in cum similique.
          Temporibus nobis iusto quaerat, unde nulla dignissimos enim! Facilis, quaerat, excepturi iusto mollitia dicta sunt nihil alias animi, porro placeat est voluptate pariatur rem atque dolore illo? Vel, officia explicabo!
          Veritatis itaque officia repudiandae totam, atque dolorem omnis sit unde ea ducimus cupiditate vel blanditiis voluptate id ipsam accusamus quibusdam facilis velit dolorum fugit temporibus obcaecati! Ducimus nostrum voluptatibus voluptatem.
          Mollitia delectus ducimus beatae corrupti! Velit, dicta! Eligendi dolore omnis delectus totam nobis sunt laudantium quas culpa asperiores voluptatibus! Unde vero debitis modi totam libero cupiditate eveniet quos accusamus? Quo!
          Amet nisi totam doloremque est minima! Tenetur quo dolore quaerat maxime ducimus non quod ab quisquam corrupti. Nemo culpa illo, mollitia tempore dolores dolore labore modi magnam perspiciatis harum enim.
          Quo voluptas natus beatae. Laudantium architecto incidunt, recusandae corporis natus voluptatum expedita eos soluta ducimus itaque minus necessitatibus inventore dolores non ab omnis unde aliquam ipsa hic cum! Nobis, ipsa!
          Aperiam dolor suscipit odit reprehenderit repellendus magni ut ad? Culpa repellat cum modi odio quibusdam ea numquam voluptates consectetur recusandae cupiditate ex corporis, velit nihil in unde temporibus asperiores sunt?
          Perspiciatis, id ipsum! Voluptas, distinctio. Modi fugit culpa officiis quod vitae hic velit, ad adipisci sed nisi ipsam repellendus qui facere dignissimos, labore perferendis molestias dolorem a veniam inventore. Natus.
          Praesentium totam dolore quo impedit facere velit ipsum atque voluptate aperiam necessitatibus voluptatem sapiente, dignissimos, suscipit, molestias nesciunt voluptatibus repellendus! Recusandae aperiam aliquam distinctio consequuntur cumque, nihil dolores quod atque.</p>  
        </main>
        <!-- footer -->
        <footer class="pie">
            <a href="#"><i class="fab fa-facebook-f icon"></i></a>   
            <a href="#"><i class="fab fa-twitter icon"></i></a>                
            <a href="#"><i class="fab fa-linkedin-in icon"></i></a>                
            <a href="#"><i class="fab fa-google-plus-g icon"></i></a>               
        </footer>
</div>
</body>