<!-- <body>  
    <h2> EQUIPO DE TRABAJO</h2> 
    <div class="cards">
      <div class="card">
        <div class="card-img"></div>
        <div class="card-img-hover" style="background-image:url('/img/7e99f1379b47e0a0eccdfa84b2ad17f1resNet7_5.jpg')"></div>
        <div class="card-info">
          <div class="card-role">FRONTEND</div>
          <div class="card-name">Eloy Del Moral <br>Palma</div>
          <div class="card-contact phone">(+34) 662-006-081</div>
          <div class="card-contact email"><a href="mailto:eloydmp@gmail.com?Subject=Question">Eloydmp</a></div>
        </div>
      </div>
      <div class="card">
        <div class="card-img"></div>
        <div class="card-img-hover" style="background-image:url('/img/FERNANDO.png')"></div>
        <div class="card-info">
          <div class="card-role">FRONTEND</div>
          <div class="card-name">Fernando Fernández Perales</div>
          <div class="card-contact phone">(+34) 630-576-435</div>
          <div class="card-contact email"><a href="mailto:fernando@fernandezperales.com?Subject=Question">Fernandofp</a></div>
        </div>    
      </div>  
      <div class="card">
        <div class="card-img"></div>
        <div class="card-img-hover" style="background-image:url('/img/ELOY.png')"></div>
        <div class="card-info">
          <div class="card-role">FRONTEND</div>
          <div class="card-name">Miguel Angel Toboso Fernández</div>
          <div class="card-contact phone">(+34) 666-498-332</div>
          <div class="card-contact email"><a href="mailto:matf69@gmail.com?Subject=Question">Miguel Ángel TF</a></div>
        </div>  
      </div>  
      <div class="card">
        <div class="card-img"></div>
        <div class="card-img-hover" style="background-image:url('/img/rafa.jpeg')"></div>
        <div class="card-info">
          <div class="card-role">BACKEND</div>
          <div class="card-name">Rafael Travado Fernández</div>
          <div class="card-contact phone">(+34) 666-498-122</div>
          <div class="card-contact email"><a href="mailto:someone@example.com?Subject=Question">Rafael TF.com</a></div>
        </div>
      </div>  
      <div class="card">
        <div class="card-img"></div>
        <div class="card-img-hover" style="background-image:url('/img/pablo.jpg')"></div>
        <div class="card-info">
          <div class="card-role">BACKEND</div>
          <div class="card-name">Pablo Rojas <br>Sainz</div>
          <div class="card-contact phone">(+34) 666-498-456</div>
          <div class="card-contact email"><a href="mailto:someone@example.com?Subject=Question">Pablo RS</a></div>
        </div>
      </div>  
    </div>
</body> -->

<body>  
  <h2> EQUIPO DE TRABAJO</h2> 
  <div class="contenedorTarjeta">
    <div class="tarjeta">
      <div class="tarjetaImagen"></div>
      <div class="tarjetaImagenHover" style="background-image:url('/img/7e99f1379b47e0a0eccdfa84b2ad17f1resNet7_5.jpg')"></div>
      <div class="tarjetaInfo">
        <div class="tarjetaRole">FRONTEND</div>
        <div class="tarjetaNombre">Eloy Del Moral <br> Palma</div>
        <div class="tarjetaContacto phone">(+34) 662-006-081</div>
        <div class="tarjetaContacto email"><a href="mailto:eloydmp@gmail.com?Subject=Question">Eloydmp</a></div>
      </div>
    </div>
    <div class="tarjeta">
      <div class="tarjetaImagen"></div>
      <div class="tarjetaImagenHover" style="background-image:url('../../assets/fernandito.png')"></div>
      <div class="tarjetaInfo">
        <div class="tarjetaRole">FRONTEND</div>
        <div class="tarjetaNombre">Fernando Fernández <br> Perales</div>
        <div class="tarjetaContacto phone">(+34) 630-576-435</div>
        <div class="tarjetaContacto email"><a href="mailto:fernando@fernandezperales.com?Subject=Question">Fernandofp</a></div>
      </div>    
    </div>  
    <div class="tarjeta">
      <div class="tarjetaImagen"></div>
      <div class="tarjetaImagenHover" style="background-image:url('/img/ELOY.png')"></div>
      <div class="tarjetaInfo">
        <div class="tarjetaRole">FRONTEND</div>
        <div class="tarjetaNombre">Miguel Angel Toboso <br> Fernández</div>
        <div class="tarjetaContacto phone">(+34) 666-498-332</div>
        <div class="tarjetaContacto email"><a href="mailto:matf69@gmail.com?Subject=Question">Miguel Ángel TF</a></div>
      </div>  
    </div>  
    <div class="tarjeta">
      <div class="tarjetaImagen"></div>
      <div class="tarjetaImagenHover" style="background-image:url('/img/rafa.jpeg')"></div>
      <div class="tarjetaInfo">
        <div class="tarjetaRole">BACKEND</div>
        <div class="tarjetaNombre">Rafael Travado <br> Fernández</div>
        <div class="tarjetaContacto phone">(+34) 666-498-122</div>
        <div class="tarjetaContacto email"><a href="mailto:someone@example.com?Subject=Question">Rafael TF.com</a></div>
      </div>
    </div>  
    <div class="tarjeta">
      <div class="tarjetaImagen"></div>
      <div class="tarjetaImagenHover" style="background-image:url('/img/pablo.jpg')"></div>
      <div class="tarjetaInfo">
        <div class="tarjetaRole">BACKEND</div>
        <div class="tarjetaNombre">Pablo Rojas <br> Sainz</div>
        <div class="tarjetaContacto phone">(+34) 666-498-456</div>
        <div class="tarjetaContacto email"><a href="mailto:someone@example.com?Subject=Question">Pablo RS</a></div>
      </div>
    </div>  
  </div>
</body>
