<div class="contenedor">
  <div class="contenedorcentrado">
    <form id="form" class="registroform" #formulario="ngForm" (submit)="register()">
      <div class="registro">
        <h2 class="titulo">Regístrate en nuestra web</h2>
        <!-- * nick * -->
        <div class="alias">
          <label for="alias">Alias de usuario</label>
          <input [(ngModel)] = "registro.perfilUsuario.alias" type="text" id="alias" name="aliasUsuario" placeholder="Introduce tu alias" />
        </div>
        <!-- * email * -->
        <div class="email">
          <label for="email">Email</label>
          <input [(ngModel)] = "registro.email" type="text" id="email" name="emailUsuario" placeholder="Introduce tu email" />
        </div>
        <!-- *
        <div class="emailConf">
          <label for="confirmarEmail">Confirmar Email</label>
          <input [(ngModel)] = "registro.email" type="text" id="confirmarEmail" placeholder="Repite tu email" />
        </div>
        * -->
        <!-- * password * -->
        <div class="password">
          <label for="password">Password</label>
          <input [(ngModel)] = "registro.password" type="password" id="password" name="contraseñaUsuario" placeholder="Introduzca password" />
        </div>
        <!-- *
        <div class="passConf">           
          <label for="confirmarPassword">Confirmar Password</label>
          <input [(ngModel)] = "registro.password" type="password" id="confirmarPassword" placeholder="Repite tu password" />
        </div>
        * -->
        <!-- * nombre y apellidos * -->        
        <div class="nombre">
          <label for="username">Nombre de Usuario/a</label>
          <input [(ngModel)] = "registro.perfilUsuario.nombre" type="text" id="username" name="nombreUsuario" placeholder="Introduce nombre" />
        </div>
        <div class="apellidos">
          <label for="apellidos">Apellido/s</label>
          <input [(ngModel)] = "registro.perfilUsuario.apellidos" type="text" id="apellidos" name="apellidosUsuario" placeholder="Introduce apellidos" />
        </div>
        <!-- * telefono * -->  
        <div class="telefono">
          <label for="telefono">Número de teléfono</label>
          <input [(ngModel)] = "registro.perfilUsuario.telefono" type="text" id="telefono" name="telefonoUsuario" placeholder="Introduce tu número de teléfono" />
        </div>
        <!-- * fecha de nacimiento * --> 
       
        <div class="fecha">
          <label for="fecha">Fecha de nacimiento</label>
          <input [(ngModel)] = "registro.perfilUsuario.fechaNacimiento" type="date" id="start" name="nacimientoUsuario" value="2018-07-22" min="1950-01-01" max="2050-12-31" />
        </div>
        
        <!-- * avatar * --> 
     
        <div class="avatar">
          <label for="imagen">Imagen de Perfil</label>
          <input (change)="onFileChange($event)" type="file" id="imagen" placeholder="Introduzca avatar" />
        </div>
     
        <button type="submit">Registrar</button>
      </div>
    </form>
</div>