<div class="contenedor">
  <div class="contenedorcentrado">
    <form id="form" class="registroform">
      <div class="registro">
        <h2 class="titulo">Regístrate en nuestra web</h2>
        <!-- * nick * -->
        <div class="alias">
          <label for="alias">Alias de usuario</label>
          <input type="text" id="alias" placeholder="Introduce tu alias" />
        </div>
        <!-- * email * -->
        <div class="email">
          <label for="email">Email</label>
          <input type="text" id="email" placeholder="Introduce tu email" />
        </div>
        <div class="emailConf">
          <label for="confirmarEmail">Confirmar Email</label>
          <input type="text" id="confirmarEmail" placeholder="Repite tu email" />
        </div>
        <!-- * password * -->
        <div class="pass">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Introduzca password" />
        </div>
        <div class="passConf">           
          <label for="confirmarPassword">Confirmar Password</label>
          <input type="password" id="confirmarPassword" placeholder="Repite tu password" />
        </div>
        <!-- * nombre y apellidos * -->        
        <div class="nombre">
          <label for="username">Nombre de Usuario/a</label>
          <input type="text" id="username" placeholder="Introduce nombre" />
        </div>
        <div class="apellidos">
          <label for="apellidos">Apellido/s</label>
          <input type="text" id="apellidos" placeholder="Introduce apellidos" />
        </div>
        <!-- * telefono * -->  
        <div class="telefono">
          <label for="telefono">Número de teléfono</label>
          <input type="text" id="telefono" placeholder="Introduce tu número de teléfono" />
        </div>
        <!-- * fecha de nacimiento * -->  
        <div class="fecha">
          <label for="fecha">Fecha de nacimiento</label>
          <input type="date" id="start" name="trip-start" value="2018-07-22" min="1950-01-01" max="2050-12-31" />
        </div>
        <!-- * avatar * -->  
        <div class="avatar">
          <label for="imagen">Imagen de Perfil</label>
          <input type="file" id="imagen" placeholder="Introduzca password" />
        </div>
        <button>Registrar</button>
      </div>
    </form>
</div>